.App {
  line-height: 1.5em;
  text-align: center;
  font-family: 'Gothic MB101 Light',
  'Hiragino Kaku Gothic W3 JIS2004',
  'メイリオ',
  'Meiryo',
  'Verdana',
  'ＭＳＰゴシック',
  'sans-serif';
}

.App-header {
  background-color: #444;
  border-bottom: 2px solid #fff;
  height: 100px;
  padding: 20px;
  color: white;
}

.footer {
  background-color: #444;
  color: white;
  height: 50px;
  line-height: 50px;
  margin-top: 50px;
  font-family: 'Gothic MB101 Light',
  'Hiragino Kaku Gothic W3 JIS2004',
  'メイリオ',
  'Meiryo',
  'Verdana',
  'ＭＳＰゴシック',
  'sans-serif';
}

.App-title {
  font-size: 2.4em;
  line-height: 100px;
  font-family:
    'Gothic MB101 Light',
    'Hiragino Kaku Gothic W3 JIS2004',
    'メイリオ',
    'Meiryo',
    'Verdana',
    'ＭＳＰゴシック',
    'sans-serif';
}

@media screen and (max-width: 480px) {
  .App-title {
    font-size: 1.5em;
  }
}

#contents h2 {
  font-family: 'Gothic MB101 Light',
  'Hiragino Kaku Gothic W3 JIS2004',
  'メイリオ',
  'Meiryo',
  'Verdana',
  'ＭＳＰゴシック',
  'sans-serif';
  font-size: 1.8em;
  margin: 30px 0 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #4173B3;
}

#contents h3 {
  font-family: 'Gothic MB101 Light',
  'Hiragino Kaku Gothic W3 JIS2004',
  'メイリオ',
  'Meiryo',
  'Verdana',
  'ＭＳＰゴシック',
  'sans-serif';
  margin: 20px 0 5px;
}

#navi {
  background-color: #4173B3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#navi a {
  display: inline-block;
  width: 120px;
  padding: 10px;
  border-left: 2px solid #fff;
  color: #fff;
  font-family: 'Gothic MB101 Light',
  'Hiragino Kaku Gothic W3 JIS2004',
  'メイリオ',
  'Meiryo',
  'Verdana',
  'ＭＳＰゴシック',
  'sans-serif';
  box-sizing: border-box;
}

@media screen and (min-width:450px) and (max-width: 740px) {
  #navi-box {
    width: 450px;
  }
  #navi a {
    width: 150px;
  }
  #navi a:nth-child(3) {
    border-right: 2px solid #fff;
  }
}

@media screen and (max-width: 450px) {
  #navi-box {
    width: 300px;
  }
  #navi a {
    width: 50%;
  }
  #navi a:nth-child(even) {
    border-right: 2px solid #fff;
  }
}

#navi a:hover {
  background-color: #759ccd;
}

#navi a:last-child {
  border-right: 2px solid #fff;
}

.card {
  width: 300px;
  padding: 10px;
  margin: 10px 10px;
  border: 2px solid #fff;
}

.card img {
  width: 100%;
}

ul {
  margin: 5px;
}

#contents {
  width: 700px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
  font-family: 'Source Sans Pro';
}

@media screen and (max-width: 480px) {
  #contents {
    width: 300px;
  }
}

#card_area {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

a {
  text-decoration: none;
  color: #4173B3;
  font-family:
    'Gothic MB101 Light',
    'Hiragino Kaku Gothic W3 JIS2004',
    'メイリオ',
    'Meiryo',
    'Verdana',
    'ＭＳＰゴシック',
    'sans-serif';
}

p {
  font-family:
    'Gothic MB101 Light',
    'Hiragino Kaku Gothic W3 JIS2004',
    'メイリオ',
    'Meiryo',
    'Verdana',
    'ＭＳＰゴシック',
    'sans-serif';
  font-weight: 400;
}
